<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header></header>
    <main style="top: 80px" class="position-absolute mx-3">
      <div>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          data-bs-whatever="@getbootstrap"
        >
          Add-Member
        </button>

        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  Select the user
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div
                class="modal-body mw-100 d-flex flex-wrap"
                id="modal-body"
              ></div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="button" id="btnGroup" class="btn btn-primary">
                  Add-Member
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <h2 class="text-bg-secondary">List of The Group Member</h2>
        <div id="listOfMember"></div>
      </div>
      <div class="w-100 mt-2">
        <div
          style="min-height: 400px; width: 100vw"
          id="messageBox"
          class="overflow-y-scroll bg-body-tertiary rounded-2 border-5 border-secondary"
        ></div>
        <div
          style="top: 650px"
          class="w-100 d-flex justify-content-center position-fixed"
        >
          <input type="text" name="" id="message" class="w-50 form-control" />
          <button class="btn btn-success mx-1" id="messageBtn">Send</button>
        </div>
      </div>
    </main>
  </body>
</html>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"
  integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<script type="module">
  const token = localStorage.getItem("token");
  const urlParams = new URLSearchParams(window.location.search);
  const groupId = +urlParams.get("groupId");
  const messageBox = document.getElementById("messageBox");
  const modalBody = document.getElementById("modal-body");
  const btnGroup = document.getElementById("btnGroup");
  const listOfMember = document.getElementById("listOfMember");
  const messageBtn = document.getElementById("messageBtn");
  import { io } from "https://cdn.socket.io/4.7.5/socket.io.esm.min.js";

  const socket = io("http://localhost:2345");

  import { navBar } from "./navbar.js";

  document.addEventListener("DOMContentLoaded", () => {
    fetch("navbar.html")
      .then((res) => res.text())
      .then((data) => {
        document.querySelector("header").innerHTML = data;
        navBar();
      });
    getAllUser();
  });

  function getAllUser() {
    axios
      .get("/auth/allUser", {
        headers: {
          Authorization: `Bearer ${token}`,
        },
      })
      .then((res) => {
        geUserDetails(res.data);
      })
      .catch((err) => {
        console.log(err);
        alert("error");
      });
  }

  function geUserDetails(data) {
    if (data.length > 0) {
      modalBody.innerHTML = "";
      data.forEach((item) => {
        var div = document.createElement("div");
        var label = document.createElement("label");
        label.className = "btn btn-outline-primary";
        label.setAttribute("for", item.id);
        label.textContent = item.name;
        var checkbox = document.createElement("input");
        checkbox.setAttribute("type", "checkbox");
        checkbox.setAttribute("id", item.id);
        checkbox.className = "btn-check";
        checkbox.value = item.id;
        div.className = "mt-1 ";
        div.append(checkbox, label);
        modalBody.append(div);
      });
    }
  }

  btnGroup.addEventListener("click", handleMember);

  function handleMember() {
    let checkBoxData = [];
    const checkBox = document.querySelectorAll("input[type=checkbox]");
    checkBox.forEach((item) => {
      if (item.checked) {
        checkBoxData.push(item.id);
      }
    });
    let data = {
      member: checkBoxData,
    };
    axios
      .post(`/group/groupMember/${groupId}`, data, {
        headers: {
          Authorization: `Bearer ${token}`,
        },
      })
      .then((res) => {
        alert(res.data);
        getGroupMember();
      })
      .catch((err) => {
        console.log(err);
      });
  }

  getGroupMember();

  function getGroupMember() {
    axios
      .get(`/group/getGroupMember/${groupId}`, {
        headers: {
          Authorization: `Bearer ${token}`,
        },
      })
      .then((res) => {
        console.log(res.data);
        if (res.data.length > 0) {
          res.data.forEach((item) => {
            const p = document.createElement("button");
            p.innerHTML = item.name;
            p.className = " btn  btn-success mx-1 ";
            listOfMember.append(p);
          });
        }
      })
      .catch((err) => {
        console.log(err);
      });
  }

  messageBtn.addEventListener("click", handleMessage);

  function handleMessage() {
    let data = {
      message: document.getElementById("message").value,
    };
    axios
      .post(`/group/groupMessage/${groupId}`, data, {
        headers: {
          Authorization: `Bearer ${token}`,
        },
      })
      .then((res) => {
        getHandleMessage();
        document.getElementById("message").value = "";
      })
      .catch((err) => {
        console.log(err.response);
      });
  }

  getHandleMessage();

  function getHandleMessage() {
    axios
      .get(`/group/getGroupMessage/${groupId}`, {
        headers: {
          Authorization: `Bearer ${token}`,
        },
      })
      .then((res) => {
        // getData(res.data);
        socket.emit("group-send-message",res.data)

      })
      .catch((err) => {
        console.log(err);
      });
  }
  socket.on("group-received-message",(data)=>{
    getData(data)
  })

  function getData(messages) {
    messageBox.innerHTML = "";
    messages.forEach((message) => {
      const div = document.createElement("div");
      const username = document.createElement("h5");
      const content = document.createElement("p");
      username.textContent = message?.User?.name || "Unknown";
      content.textContent = message?.message || "Empty";
      div.className = "d-flex flex-column px-1 bg-white mt-1 rounded-3";
      div.style.height = "70px";
      div.style.width = "300px";
      div.appendChild(username);
      div.appendChild(content);
      messageBox.appendChild(div);
    });
  }
</script>
